<h2>Now  {{controller.content.day}} {{monthName}}  {{controller.content.year}}.</h2>
		
	 <h2>{{monthName}} has {{controller.content.days}} days in {{controller.content.year}}.</h2>
	<button {{action "today"}}>Today</button>	 
